html, body {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 400px;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
body main article#hero {
  text-align: center;
}
body main article#hero p:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  z-index: -1;
  display: flex;
  justify-content: center;
}
body main article#hero p:first-child img {
  height: 80vh;
  padding-bottom: 10vh;
  align-self: center;
}
@media screen and (max-width: 768px), print {
  body main article#hero p:first-child img {
    width: 80vw;
    height: auto;
  }
}
body main article#hero > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body main article#hero > div h1 {
  font-weight: normal;
  font-size: 2.5em;
  margin-bottom: -2rem;
}
body main article#hero > div strong {
  font-size: 20em;
  line-height: 20rem;
}
body main article#hero > div #h1-sub {
  font-size: 2em;
}
body main article#hero button.CTA {
  margin: 2em 1em;
  padding: 1em;
  font-size: 1.2em;
}
body main article#why-we-started h2 {
  display: none;
}
body main article#why-we-started > p {
  position: relative;
}
body main article#why-we-started > p:first-of-type {
  top: 22vh;
  left: 60vw;
}
body main article#why-we-started > p:nth-of-type(2) {
  top: 8vh;
  left: 4vw;
}
body main article#why-we-started > p > img.right, body main article#why-we-started > p > img.left {
  position: absolute;
}
body main article#why-we-started > p > img.right {
  width: 30%;
}
body main article#why-we-started > p > img.left {
  width: 40%;
}
body main article#why-we-started div {
  position: relative;
  top: 17vh;
  left: 20vw;
  width: 58vw;
  z-index: 2;
  line-height: 3rem;
  text-align: center;
  font-size: 1.6em;
  padding: 2rem 0;
  border-radius: 2rem;
}
body main article#why-we-started div p {
  margin-bottom: 2em;
}
body main article#why-we-started div p:last-of-type {
  margin-bottom: 0;
}
body main article#core-strengths h2 {
  text-align: center;
  padding: 2rem;
}
body main article#core-strengths .strengths {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2rem;
}
body main article#core-strengths .strengths div.strength-card {
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  flex: 0 1 15rem;
}
body main article#core-strengths .strengths div.strength-card h3 {
  margin-bottom: 0.5rem;
}
body main article#core-strengths .strengths div.strength-card span {
  line-height: 1.5rem;
}
body main article#core-strengths ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
}
body main article#core-strengths ul li {
  width: 50vw;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 1rem;
}
body main article#core-strengths ul li div strong {
  font-size: 1.2rem;
  line-height: 2em;
}
body main article#core-strengths ul li div p {
  line-height: 1.5em;
}
body main article#core-strengths ul li div:first-child {
  width: 5rem;
  text-align: center;
  font-size: 3em;
  padding: 0.5rem;
}
body main article#contact form button.CTA {
  margin: 1em 0.5em;
  padding: 0.5em;
  font-size: 1em;
}
/* colorbox.io Config
[
  {
    "properties": {
      "steps": 7,
      "hue": {
        "start": 0,
        "end": 0,
        "curve": "easeOutQuad"
      },
      "saturation": {
        "start": 0.08,
        "end": 1,
        "rate": 1.7,
        "curve": "easeOutQuad"
      },
      "brightness": {
        "start": 1,
        "end": 0.08,
        "curve": "linear"
      }
    },
    "options": {
      "minorSteps": [
        0,
        1
      ],
      "name": "Tomato Red",
      "lockHex": "",
      "rotation": "clockwise"
    }
  }
]
 */
body {
  background: black;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", sans-serif;
}
body a:link, body a:focus, body a:active, body a:visited {
  color: #ffdcdc;
  text-decoration: underline;
}
body a:focus {
  color: #eb9292;
}
body main button.CTA {
  background-color: #d85252;
  color: white;
  border: 2px solid #b10000;
}
body main button.CTA:active {
  background-color: #b10000;
  border-color: #630000;
}
body main article#why-we-started p > img.right {
  rotate: 50deg;
  opacity: 0.5;
}
body main article#why-we-started div {
  background-color: rgba(0, 0, 0, 0.5);
}
body main article#core-strengths .strengths .strength-card {
  background-color: rgba(127, 127, 127, 0.3);
}
body main article#core-strengths ul li {
  background-color: rgba(127, 127, 127, 0.2);
}

/*# sourceMappingURL=main.css.map */
