@use 'media' as *;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    position: sticky;
    top: 0;
    left: 0;

    #header-ribbon {
      $gap: .5em;
      $ribbon-height: 3.5 * 2 + $gap;

      position: absolute;
      left: 47.5%;
      display: flex;
      flex-flow: column nowrap;
      rotate: 45deg;
      width: 100vw;
      height: $ribbon-height;
      gap: $gap;
      z-index: 1;

      .ribbon.red {
        flex: 2.4em;
      }
      .ribbon.bright {
        flex: 2 .8em;
      }
      .ribbon.red, .ribbon.bright {
        min-height: .4em;
      }

      @include for-portrait {
        left: 0;
        height: 3.2em;
        gap: 0;
        rotate: 0deg;
      }
    }
    nav {
      z-index: 0;
      width: 100vw;

      ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        margin: 0 1em 1em;
        padding: 0;

        li {
          a {
            display: block;
            padding: 2em 1em;

            &:link, &:focus, &:active, &:visited {
              color: #804040;
            }
          }
        }
      }
    }
  }

  main {
    article {
      &[id] {
        margin-bottom: 3em;
        &:last-child {
          margin-bottom: 1em;
        }
      }
      &#hero {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        padding: 11em 3em 0;

        h1 {
          margin: 0;
        }
        strong {
          font-size: 8em;
        }
        #h1-sub {}
        button.CTA {
          margin: 2em 1em;
          padding: 1em;
          font-size: 1.2em;
        }
      }

      &#why-we-started {
        $width: 25rem;
        h2, p {
          word-break: keep-all;
          position: relative;
          text-align: right;
          width: $width;
          left: $width * .2;
        }
        h2 {}
        p {
        }
        blockquote {
          position: relative;
          right: 50%;
          text-align: right;
          width: 100%;
          border: .2em solid lightgray;
          margin: 1em 0;
          padding: .8em;
          box-shadow: .5em .5em 0 lightgray;
        }
      }

      &#core-strengths {

        div.strength-card {
          h3 {}
          span {}
        }
      }

      &#process {

        div#process-steps {

          .process-step {}
          caption {}
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

          button.CTA {
            margin: 1em .5em;
            padding: .5em;
            font-size: 1em;
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}