@use 'media' as *;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    position: sticky;
    top: 0;
    left: 0;

    #header-ribbon {
      $gap: .5em;
      $ribbon-height: 3.5 * 2 + $gap;

      position: absolute;
      left: 47.5%;
      display: flex;
      flex-flow: column nowrap;
      rotate: 45deg;
      width: 100vw;
      height: $ribbon-height;
      gap: $gap;
      z-index: 1;

      .ribbon.red {
        flex: 2.4em;
      }
      .ribbon.black {
        flex: 2 .8em;
      }
      .ribbon.red, .ribbon.black {
        min-height: .4em;
      }

      @include for-portrait {
        left: 0;
        height: 3.2em;
        gap: 0;
        rotate: 0deg;
      }
    }
    nav {
      z-index: 0;
      width: 100vw;

      ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        margin: 0 1em 1em;
        padding: 0;

        li {
          a {
            display: block;
            padding: 2em 1em;

            &:link, &:focus, &:active, &:visited {
              color: #804040;
            }
          }
        }
      }
    }
  }

  main {
    article {
      &#hero {
        h1 {}
        #h1-sub {}
        h2 {}
        button.CTA {}
      }

      &#why-we-started {

        blockquote {}
      }

      &#core-strengths {

        div.strength-card {
          h3 {}
          span {}
        }
      }

      &#process {

        div#process-steps {

          .process-step {}
          caption {}
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}