@use 'media' as *;

html, body {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 400px;
}
html, body, p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  main {
    article {
      &[id] {

        &:first-child {
        }
        &:last-child {
        }
      }

      &#hero {
        text-align: center;

        p:first-child {
          position: absolute;
          width: 100%;
          text-align: center;
          z-index: -1;

          img {
            height: 80vh;
          }
        }
        h1 {
        }
        strong {
          font-size: 8em;
        }
        #h1-sub {
        }
        button.CTA {
          margin: 2em 1em;
          padding: 1em;
          font-size: 1.2em;
        }
      }

      &#why-we-started {

        h2, p {
        }
        h2 {}
        p {
        }
      }

      &#core-strengths {
        .strengths {

          div.strength-card {

            h3 {}

            span {}
          }
        }
      }

      &#process {

        div#process-steps {

          .process-step {

            p {
            }
          }
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

          button.CTA {
            margin: 1em .5em;
            padding: .5em;
            font-size: 1em;
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}