@use 'media' as *;

html, body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 16px;

  @include for-laptop {
    font-size: 15px;
  }
  @include for-tablet {
    font-size: 14px;
  }
  @include for-mobile {
    font-size: 13px;
  }
  @include for-mobile-sm {
    font-size: 12px;
  }
}
html, body, p {
  margin: 0;
  padding: 0;
}

body {

  header {
    nav {
      @include for-mobile-sm {
        right: 0.5rem;
      }
    }
  }

  main {
    article {
      &[id] {

        &:first-child {
        }
        &:last-child {
        }
      }

      h2 {
        text-align: center;
        padding: 2rem;
      }

      &#hero {
        text-align: center;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        p:first-child {
          img.bg {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            height: 65vh;
          }

          img.fg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            filter: brightness(0) invert(1);
            height: 60vh;
          }

          @include for-laptop {

          }
        }

        & > div {
          position: relative;
          top: 34vh;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          @include for-mobile {
            min-width: $breakpoint-xs;
          }
          @include for-laptop {
            max-width: 950px;
          }

          h1, #h1-sub {
            align-self: flex-end;
            margin-right: 33vw;
          }
          h1 {
            font-weight: normal;
            font-size: 1.2em;
            margin-bottom: .5rem;
          }
          #h1-sub {
            font-size: 1.1em;
          }

          @include for-laptop {
            h1 {
              font-size: 1em;
            }
            #h1-sub {
              font-size: .8em;
            }
          }
        }

        button.CTA {
          margin: 2em 1em;
          padding: 1em;
          font-size: 1.2em;
        }
      }

      &#why-we-started {
        $bottom-padding: 20vh;
        padding-bottom: $bottom-padding;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        h2 {
          display: none;
        }

        & > p {
          position: absolute;
          z-index: 1;

          &:first-of-type {
            top: 24vh;
            left: 57vw;
          }
          &:nth-of-type(2) {
            top: 8vh;
            left: 12vw;
          }

          img {
            display: block;
          }

          img.right {
            rotate: 60deg;
            width: 24vw;
          }

          img.left {
            width: 36vw;
          }
        }

        div {
          width: 47vw;
          z-index: 2;
          line-height: 2.5rem;
          text-align: center;
          font-size: 1.1em;
          padding: 2.5rem 0;

          p {
            margin-bottom: 2em;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      &#core-strengths {
        position: relative;
        min-height: 100vh;

        .strengths {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          gap: 2rem;

          @include for-laptop {
            gap: 1.5rem;
          }

          @include for-mobile-sm {
            gap: 0.75rem;
          }

          div.strength-card {
            padding: 1.5rem;
            text-align: center;
            flex: 0 0 15rem;
            height: 15rem;
            position: relative;

            .material-cover {
              position: absolute;
              top: 2rem;
              left: 50%;
              transform: translateX(-50%);

              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0.5rem;
              border-radius: 1rem;
              width: 5em;
              height: 5em;
            }

            h3 {
              margin-top: 8rem;
            }

            img {
              max-height: 6rem;
              object-fit: contain;

              @include for-laptop {
                max-width: 20vw;
              }

              @include for-mobile-sm {
                max-width: 11vw;
              }
            }

            h3 {
              margin-bottom: .5rem;
            }

            span {
              line-height: 1.5rem;
            }
          }
        }
      }

      &#core-strengths-cont {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        min-height: 100vh;

        h2 {
          white-space: nowrap;
          //writing-mode: vertical-lr;
          font-size: 1.5em;
          margin: 0;
        }

        ul {
          list-style: none;
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          min-height: 50vh;
          justify-content: center;
          align-items: stretch;
          gap: 1rem;
          padding-left: 0;
          margin: 0 auto;

          li {
            max-width: 250px;
            max-height: 50vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            padding: .5rem 1.5rem;

            @include for-laptop {
              flex-flow: row nowrap;
              max-width: 70vw;
              max-height: 250px;
            }

            div {
              &:first-child {
                justify-self: flex-end;
                width: 5rem;
                font-size: 3em;
                line-height: 4rem;
                padding-bottom: .5rem;
              }

              &:nth-child(2) {

                @include for-laptop {
                  width: 35vw;
                  margin: auto 1rem;
                }

                @include for-tablet {
                  width: 65vw;
                }
              }

              &:nth-last-child(2) {
                margin-top: auto;
                padding-bottom: 1rem;

                @include for-laptop {
                  margin: auto 0;
                  padding: 0 1rem;
                }
              }
              &:last-child {
                padding-bottom: 1.5rem;

                @include for-laptop {
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: center;
                  padding-bottom: 0;
                }
              }


              strong {
                font-size: 1.5rem;
                line-height: 1.5rem;
              }
              p {
                font-size: .8rem;
              }
              span {
                font-size: .8em;
                white-space: nowrap;

                @include for-laptop {
                  display: inline-block;
                  margin-bottom: .2rem;
                }
              }
            }

          }
        }
      }

      &#process {
        $shift: 4rem;
        min-height: 100vh;
        position: relative;
        overflow: visible;

        div#process-steps {
          position: relative;
          top: $shift;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          margin: 4rem auto;
          padding: 6rem 0;

          // Horizontal timeline line (spans full container width)
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background: white;
            transform: translateY(-50%);
            transform-origin: left;
            z-index: 1;
          }

          .process-step {
            position: relative;
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;

            // Dot on the line
            &::before {
              content: '';
              width: 12px;
              height: 12px;
              background: white;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
            }

            // Rectangle box
            p {
              position: absolute;
              padding: 1.5rem 1rem;
              min-width: 8rem;
              text-align: center;
              left: 50%;
              transform: translateX(-50%);
            }

            // Odd items (1, 3, 5) - rectangles above
            &:nth-child(odd) p {
              bottom: calc(50% + 1.5rem);
            }

            // Even items (2, 4) - rectangles below
            &:nth-child(even) p {
              top: calc(50% + 1.5rem);
            }
          }
        }

        // Last paragraph (HACCP note)
        > p:last-of-type {
          position: relative;
          top: $shift;
          text-align: center;
          opacity: 0;
        }
      }

      &#featured-product {
        blockquote, h2 {
          display: none;
        }

        div.product {
          display: flex;
          flex-flow: row nowrap;
          height: 60vh;

          @include for-tablet {
            flex-flow: column nowrap;
            height: auto;
          }

          & > img, & > div:first-of-type {
            flex: 1 1 60%;

            @include for-tablet {
              flex: 1 1 auto;
            }
          }

          & > img {
            object-fit: contain;

            @include for-tablet {
              max-height: 50vh;
            }
          }

          & > div:first-of-type {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            box-sizing: border-box;
            padding: 0 16rem 0 4rem;

            @include for-tablet {
              padding: 2rem;
            }

            h3 {}

            p {


              &.left {
                margin: 0 auto 0 0;
              }
              &.right {
                margin: 0 0 0 auto;
              }
            }

            div.points {
              display: flex;
              flex-flow: row wrap;
              min-width: 100%;
              box-sizing: border-box;
              justify-content: center;
              padding: 1em;
              gap: 1em;

              div {
                flex: 0 1 7rem;
                text-align: center;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: .5rem;

                img {
                  flex: 0 1 60%;
                  display: block;
                  width: 5em;
                  height: auto;
                }

                strong {
                  flex: 0 0 40%;
                  margin-top: .5rem;
                }
              }
            }

            ul {
              li {}
            }
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        .contact-flex {
          display: flex;
          flex-flow: column wrap;
          align-items: stretch;
          height: calc(100vh - 2rem + 0.83em - 14rem);
          padding: 0 4em;

          @include for-laptop {
            height: calc(100vh - 2rem + .83em);
          }

          p {
            text-align: center;
          }

          .contact {
            padding: .5em 0 2em;
            text-align: center;
            a {
              address {}
            }
          }

          form {
            $max-width: 600px;
            $label-width: 8rem;

            max-width: $max-width;

            p {
              margin-bottom: 1.5rem;
              line-height: 1.6;
            }

            section {
              display: flex;
              flex-direction: column;
              gap: 1em;
              margin-bottom: 0;

              label {
                display: grid;
                grid-template-columns: $label-width 1fr;
                gap: 1em;
                align-items: start;

                span {
                  font-weight: 600;
                  font-size: .95rem;
                  padding-top: .75rem;
                  text-align: right;
                }

                input[type="text"], input[type="tel"], textarea {
                  padding: .75rem;
                  font-size: 1rem;
                  transition: border-color .2s;
                }

                input[type="file"] {
                  padding: .5rem 0;
                  font-size: .95rem;
                }

                textarea {
                  resize: vertical;
                  min-height: 5em;
                }

                @include for-width($max-width) {
                  grid-template-columns: 1fr;
                  span {
                    padding-top: 0;
                    text-align: left;
                  }
                }
              }
            }


            button.CTA {
              margin: 1em .5em 1em calc($label-width + 1em);
              padding: .5em;
              font-size: 1em;

              @include for-laptop {
                display: block;
                margin: 1em auto .5em;
              }
            }
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}