@use 'media' as *;

html, body {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 400px;
}
html, body, p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  main {
    article {
      &[id] {

        &:first-child {
        }
        &:last-child {
        }
      }

      &#hero {
        text-align: center;

        p:first-child {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          margin: auto;
          text-align: center;
          z-index: -1;
          display: flex;
          justify-content: center;

          img {
            height: 80vh;
            padding-bottom: 10vh;
            align-self: center;

            @include for-portrait {
              width: 80vw;
              height: auto;
            }
          }
        }

        & > div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: end;
          align-items: center;
          width: 100vw;
          height: 100vh;

          h1 {
            font-weight: normal;
            font-size: 2.5em;
            margin-bottom: -2rem;
          }
          strong {
            font-size: 20em;
            line-height: 20rem;
          }
          #h1-sub {
            font-size: 2em;
          }
        }

        button.CTA {
          margin: 2em 1em;
          padding: 1em;
          font-size: 1.2em;
        }
      }

      &#why-we-started {

        h2 {
          display: none;
        }
        & > p {
          position: relative;

          &:first-of-type {
            top: 22vh;
            left: 60vw;
          }
          &:nth-of-type(2) {
            top: 8vh;
            left: 4vw;
          }
          & > img.right, & > img.left {
            position: absolute;
          }

          & > img.right {
            width: 30%;
          }

          & > img.left {
            width: 40%;
          }
        }
        div {
          position: relative;
          top: 17vh;
          left: 20vw;
          width: 58vw;
          z-index: 2;
          line-height: 3rem;
          text-align: center;
          font-size: 1.6em;
          padding: 2rem 0;
          border-radius: 2rem;

          p {
            margin-bottom: 2em;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }

      &#core-strengths {
        h2 {
          text-align: center;
          padding: 2rem;
        }

        .strengths {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          gap: 2rem;

          div.strength-card {
            border-radius: 1rem;
            padding: 1.5rem;
            text-align: center;
            flex: 0 1 15rem;

            h3 {
              margin-bottom: .5rem;
            }

            span {
              line-height: 1.5rem;
            }
          }
        }

        ul {
          list-style: none;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          gap: 1em;

          li {
            width: 50vw;
            display: flex;
            flex-direction: row;
            padding: 0.5rem;
            border-radius: 1rem;

            div {
              strong {
                font-size: 1.2rem;
                line-height: 2em;
              }
              p {
                line-height: 1.5em;
              }

              &:first-child {
                width: 5rem;
                text-align: center;
                font-size: 3em;
                padding: .5rem;
              }
            }

          }
        }
      }

      &#process {

        div#process-steps {

          .process-step {

            p {
            }
          }
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

          button.CTA {
            margin: 1em .5em;
            padding: .5em;
            font-size: 1em;
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}