@use 'layout';
@use 'palette' as *;
@use 'media' as *;

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {
        $tomato-overlay-text-color: rgba(0,0,0,.7);

        background: url(../image/tomato.png) no-repeat center 0;
        background-size: contain;
        background-origin: padding-box;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;

        h1 {
          margin: 0.5em 0;
          font-size: 1.2em;
          font-weight: normal;
        }
        strong {
          font-size: 6em;
          letter-spacing: 0.1em;
          display: block;
          margin: 0.2em 0;
        }
        #h1-sub {
          font-size: 1em;
          line-height: 1.6;
          margin: 1em 0;
        }
        h1, strong, #h1-sub {
          text-shadow: 0 0 1em $tomato-overlay-text-color;
        }
        button.CTA {
          display: none;
        }
      }

      &#why-we-started {

        h2 {
        }

        img {
        }

        strong {
          display: block;
          margin: 1.5em 0;
          font-size: 1.1em;
        }
      }

      &#core-strengths {
        .strengths {


          .strength-card {
            img {

            }
            h3 {

            }
            span {

            }
          }
        }
      }

      &#process {

        h2 {

        }

        div#process-steps {


          .process-step {

            p {

            }
          }
        }

        & > p {

        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}