@use 'layout';
@use 'palette' as *;
@use 'media' as *;

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  header {

    nav {
      ul {
        li {
          a {
            &:link, &:focus, &:active, &:visited {
              color: $red-0;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {
        $tomato-overlay-text-color: rgba(0,0,0,.7);

        background: no-repeat url(../image/tomato.png);
        background-position: center;
        background-size: contain;
        background-origin: padding-box;
        color: white;

        h1 {
        }
        #h1-sub {}
        strong {}
        h1, p, #h1-sub {
          text-shadow: 0 0 1em $tomato-overlay-text-color;
        }
        button.CTA {
        }
      }

      &#why-we-started {
        /*background-image: linear-gradient(
            -90deg,
            transparent 0%,
            rgba(255, 255, 255, 0.2) 33%,
            rgba(255, 255, 255, 0.8) 50%,
            white 70%), url(../image/hygiene.jpg);
        background-position: left, bottom right;
        background-size: 100%, 50%;
        background-repeat: no-repeat;*/

        blockquote {
          border: .2em solid lightgray;
          box-shadow: -.5em .5em 0 lightgray;
          background-color: $background-color;
        }
      }

      &#core-strengths {

        div.strength-card {
          h3 {}
          span {}
        }
      }

      &#process {

        div#process-steps {

          .process-step {}
          caption {}
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}