@use 'layout';
@use 'palette' as *;
@use 'media' as *;
@use 'animation';

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", sans-serif;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {

        img {
        }
        h1 {
        }
        strong {
        }
        #h1-sub {
        }
        h1, strong, #h1-sub {
        }
        button.CTA {
        }
      }

      &#why-we-started {

        h2, p {
        }
        h2 {}
        p {
          & > img.right, & > img.left {
          }

          & > img.right {
            rotate: 50deg;
            opacity: .5;
          }

          & > img.left {
          }
        }
        div {
          background-color: rgba(0,0,0,.5);

          p {
          }
        }
      }

      &#core-strengths {
        .strengths {


          .strength-card {
            background-color: rgba(127, 127, 127, 0.3);

            img {

            }
            h3 {

            }
            span {

            }
          }
        }

        ul {


          li {
            background-color: rgba(127, 127, 127, 0.2);
          }
        }
      }

      &#process {

        h2 {

        }

        div#process-steps {


          .process-step {

            p {

            }
          }
        }

        & > p {

        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

          p {
          }

          section {

            label {

              span {
              }

              input[type="text"], input[type="tel"], textarea {
                border: 1px solid #ddd;
                border-width: 1px;
                transition: border-color .2s;

                &:focus {
                  outline: none;
                  border-color: gray;
                }
              }

              input[type="file"] {
              }

              textarea {
              }
            }
          }

          button.CTA {
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}