@use 'layout';
@use 'palette' as *;
@use 'media' as *;

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {

        img {
        }
        h1 {
        }
        strong {
        }
        #h1-sub {
        }
        h1, strong, #h1-sub {
        }
        button.CTA {
        }
      }

      &#why-we-started {

        h2 {
        }

        img {
        }

        strong {
        }
      }

      &#core-strengths {
        .strengths {


          .strength-card {
            img {

            }
            h3 {

            }
            span {

            }
          }
        }
      }

      &#process {

        h2 {

        }

        div#process-steps {


          .process-step {

            p {

            }
          }
        }

        & > p {

        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}