@use 'layout';
@use 'palette' as *;
@use 'media' as *;

body {
  color: $red-6;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-1_5;
      text-decoration: underline;
    }
    &:focus {
      color: $red-1;
    }
  }

  header {
    background: linear-gradient(
        0deg,
        transparent 0%,
        white 30%,
        white 100%
    );

    #header-ribbon {

      .ribbon.red {
        background: $red-2;
      }
      .ribbon.black {
        background: $red-6;
      }
      .ribbon.red, .ribbon.black {
      }
    }
    nav {
      ul {
        li {
          a {
            &:link, &:focus, &:active, &:visited {
              color: $red-4;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  main {
    button.CTA {
      background-color: $red-2;
      color: white;
      border: 2px solid $red-4;

      &:active {
        background-color: $red-1;
        border-color: $red-2;
      }
    }

    article {
      &#hero {
        background-image: linear-gradient(
          90deg,
          transparent 0%,
          rgba(255, 255, 255, .2) 33%,
          rgba(255, 255, 255, .8) 50%,
          white 70%
        ),
        url(../image/exterior.jpg);
        background-size: cover;


        h1 {
        }
        #h1-sub {}
        h2 {}
        button.CTA {}
      }

      &#why-we-started {

        blockquote {}
      }

      &#core-strengths {

        div.strength-card {
          h3 {}
          span {}
        }
      }

      &#process {

        div#process-steps {

          .process-step {}
          caption {}
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}