@use 'layout';
@use 'palette' as *;
@use 'media' as *;

body {
  color: $red-6;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-1_5;
      text-decoration: underline;
    }
  }

  header {
    #header-ribbon {

      .ribbon.red {
        background: $red-2;
      }
      .ribbon.black {
        background: $red-6;
      }
      .ribbon.red, .ribbon.black {
      }
    }
    nav {
      ul {
        li {
          a {
            &:link, &:focus, &:active, &:visited {
              color: $red-2;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  main {
    article {
      &#hero {
        h1 {}
        #h1-sub {}
        h2 {}
        button.CTA {}
      }

      &#why-we-started {

        blockquote {}
      }

      &#core-strengths {

        div.strength-card {
          h3 {}
          span {}
        }
      }

      &#process {

        div#process-steps {

          .process-step {}
          caption {}
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}