@use 'layout';
@use 'palette' as *;
@use 'media' as *;

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  header {

    nav {
      ul {
        li {
          a {
            &:link, &:focus, &:active, &:visited {
              color: $red-0;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {
        $tomato-overlay-text-color: rgba(0,0,0,.7);

        background: no-repeat url(../image/tomato.png);
        background-position: center;
        background-size: contain;
        background-origin: padding-box;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;

        h1 {
          margin: 0.5em 0;
          font-size: 1.2em;
          font-weight: normal;
        }
        strong {
          font-size: 6em;
          letter-spacing: 0.1em;
          display: block;
          margin: 0.2em 0;
        }
        #h1-sub {
          font-size: 1em;
          line-height: 1.6;
          margin: 1em 0;
        }
        h1, strong, #h1-sub {
          text-shadow: 0 0 1em $tomato-overlay-text-color;
        }
        button.CTA {
          display: none;
        }
      }

      &#why-we-started {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        align-items: center;

        h2 {
          grid-column: 1 / -1;
          text-align: center;
          display: none;
        }

        img {
          width: 100%;
          max-width: 500px;
          justify-self: center;
        }

        p, strong {
          color: white;
          line-height: 1.8;
          font-size: 1em;
        }

        strong {
          display: block;
          margin: 1.5em 0;
          font-size: 1.1em;
        }

        blockquote {
          border: .2em solid lightgray;
          box-shadow: -.5em .5em 0 lightgray;
          background-color: $background-color;
        }
      }

      &#core-strengths {
        text-align: center;

        h2 {
          margin-bottom: 2em;
          font-size: 1.8em;
        }

        .strengths {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2em;
          margin: 3em 0;
        }

        div.strength-card {
          background-color: rgba(255, 255, 255, 0.05);
          padding: 2em 1.5em;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1em;

          img {
            width: 80px;
            height: 80px;
            margin-bottom: 1em;
          }

          h3 {
            font-size: 1.1em;
            margin: 0;
            color: white;
          }

          span {
            font-size: 0.9em;
            color: rgba(255, 255, 255, 0.8);
            line-height: 1.6;
          }
        }
      }

      &#process {
        text-align: center;

        h2 {
          margin-bottom: 2em;
          font-size: 1.8em;
        }

        div#process-steps {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 3em auto;
          max-width: 1000px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background: linear-gradient(to right,
              transparent 0%,
              rgba(255, 255, 255, 0.3) 10%,
              rgba(255, 255, 255, 0.3) 90%,
              transparent 100%);
            z-index: 0;
          }

          .process-step {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            position: relative;
            z-index: 1;
            flex: 1;

            img {
              width: 64px;
              height: 64px;
              background: $background-color;
              border: 2px solid rgba(255, 255, 255, 0.3);
              border-radius: 50%;
              padding: 0.5em;
            }

            p {
              margin: 0;
              font-size: 0.9em;
              color: white;
            }
          }

          caption {
            display: block;
            margin-top: 1em;
          }
        }

        & > p {
          margin-top: 3em;
          font-size: 1em;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      &#featured-product {
        div.product {

          img {}
          h3 {}
          p {}
          ul {
            li {}
          }
        }
      }

      &#values-and-direction {

      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}