@use 'layout';
@use 'palette' as *;
@use 'media' as *;
@use 'animation';

$background-color: black;

body {
  background: $background-color;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  a {
    &:link, &:focus, &:active, &:visited {
      color: $red-0;
      text-decoration: underline;
    }
    &:focus {
      color: $red-0_5;
    }
  }

  .material-icons {
    font-size: 48px;
    &.teal { color: #34d399; }
    &.orange { color: #fb923c; }
    &.red { color: #e54e5f; }
    &.tomato { color: $red-2; }
  }

  .material-cover {

    &:has(.material-icons.teal) {
      background-color: rgba(52, 211, 153, 0.2);
    }

    &:has(.material-icons.orange) {
      background-color: rgba(251, 146, 60, 0.2);
    }

    &:has(.material-icons.red) {
      background-color: rgba(229, 78, 95, 0.2);
    }
    &:has(.material-icons.tomato) {
      background-color: rgba(177, 0, 0, 0.2);
    }
  }

  main {
    button.CTA {
      background-color: $red-1;
      color: white;
      border: 2px solid $red-2;

      &:active {
        background-color: $red-2;
        border-color: $red-4;
      }
    }

    article {
      &#hero {

        img {
        }
        h1 {
        }
        strong {
        }
        #h1-sub {
        }
        h1, strong, #h1-sub {
        }
        button.CTA {
        }
      }

      &#why-we-started {

        h2, p {
        }
        h2 {}
        p {
          & > img.right, & > img.left {
          }

          & > img.right {
            opacity: .5;
          }

          & > img.left {
          }
        }
        div {
          background-color: rgba(0,0,0,.5);
          border-radius: 2rem;

          p {
          }
        }
      }

      &#core-strengths {
        .strengths {


          .strength-card {
            background-color: rgba(127, 127, 127, 0.3);
            border-radius: 1rem;

            img {

            }
            h3 {

            }
            span {

            }
          }
        }
      }

      &#core-strengths-cont {
        ul {

          h2 {}

          @for $i from 1 through 3 {
            li:nth-child(#{$i}) {
              background:
                linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.1) 0%,
                    rgba(0, 0, 0, 0.6) 100%
                ),
                url('/image/strcont#{$i}.png');
              background-size: cover;
              background-position: center;
            }
          }

          li {
            border-radius: 1rem;

            div {
              strong {}
              p {}
              span {
                border: 1px solid rgba(255, 255, 255, .5);
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, .5);
                padding: .2rem;
              }

              &:first-child {
                font-weight: bold;
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }
        }
      }

      &#process {

        h2 {

        }

        div#process-steps {


          .process-step {

            p {
              background: rgba(255, 255, 255, 0.1);
              border: 1px solid transparent;
              border-radius: 0.5rem;
            }
          }
        }

        & > p {

        }
      }

      &#featured-product {
        div.product {

          & > img, & > div:first-of-type {

          }

          & > img {
            background-image: radial-gradient(
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0) 60%
            )
          }

          & > div:first-of-type {
            background-color: rgba(64, 64, 64, 0.5);
            border-radius: 1rem;

            & span.title {
              width: 100%;
              background-color: $red-2;
              color: black;
              text-transform: uppercase;
              padding: .2rem;
            }
            h3 {
              font-size: 2em;
            }
            ul {
              list-style-type: none;
              padding-left: 0;
              li {
                line-height: 2rem;

                &:before {
                  content: 'check_circle';
                  font-family: 'Material Icons';
                  color: $red-2;
                  font-variation-settings: 'FILL' 1;
                }
              }
            }
          }
        }
      }

      &#values-and-direction {
        .subtitle {
          color: rgba(whitesmoke, 0.7);
        }

        .stats .stat {
          background-color: rgba(64, 64, 64, 0.5);

          strong {
            color: $red-1;
          }

          span {
            color: rgba(whitesmoke, 0.8);
          }
        }

        .two-columns {
          h3 {
            color: rgba(whitesmoke, 0.9);
          }

          .timeline {
            border-left-color: $red-2;

            li::before {
              background-color: $red-2;
            }

            .year {
              color: $red-1;
            }
          }

          .certifications .badges .badge {
            .material-icons {
              color: $red-2;
            }

            .label {
              color: rgba(whitesmoke, 0.8);
            }
          }
        }
      }

      &#contact {

        h2 {}
        p {}
        .contact {
          a {
            address {}
          }
        }

        form {

          p {
          }

          section {

            label {

              span {
              }

              input[type="text"], input[type="tel"], textarea,
              input[type="file"] {
                border: 1px solid dimgray;
                background-color: #323232;
                color: whitesmoke;
              }

              input[type="text"], input[type="tel"], textarea {
                transition: border-color .2s;

                &:focus {
                  outline: none;
                  border-color: gray;
                }
              }

              textarea {
              }
            }
          }

          button.CTA {
          }
        }
      }
    }
  }

  footer {
    #company-name {}
    p {}
  }
}